<div class="container">

  <div class="card1">
    <h2>{{ produtoEditandoId ? 'Editar Produto' : 'Cadastro de Produto' }}</h2>

    <form [formGroup]="form" (ngSubmit)="salvar()">
      <input type="text" formControlName="nome" placeholder="Nome do produto" required />
      <input type="number" formControlName="preco" placeholder="Preço" required />

      <button type="submit">{{ produtoEditandoId ? 'Atualizar' : 'Salvar' }}</button>
      <button type="button" (click)="form.reset(); produtoEditandoId = null;">Cancelar</button>
    </form>
  </div>

 
  <div class="card">
    <h2>Lista de Produtos</h2>

    <table *ngIf="produtos.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>R$ {{ produto.preco }}</td>
          <td>
            <div class="botoes">
            <button (click)="editar(produto)">Editar</button>
            <button (click)="deletar(produto.id)">Deletar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="produtos.length === 0">Nenhum produto cadastrado.</p>
  </div>

</div>
