.container {
  max-width: 900px;
  margin: 2rem auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.card {
  background: var(--p-content-background);
  border-radius: 16px;
}


.produto-card {
  transition: all 0.2s;
  cursor: pointer;
}

.produto-card:hover {
  background-color: var(--p-primary-50);
}


.pedido-card {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--p-content-background);
  transition: all 0.2s;
  font-weight: 500;
}

.pedido-card:hover {
  transform: translateY(-4px);
}


h2 {
  color: var(--p-text-color);
}

h3 {
  color: var(--p-text-color);
}


ul {
  padding-left: 1rem;
}

li {
  margin-bottom: 4px;
}
